<div id="main-content" class="col-sm-9">

  <div class="col-sm-3 section-post-card" id=<%= program_path %>>
    <div class="card">
      <div class="card-block">
        <h4 class="post-text">
          <%= @section.name %>
        </h4>
      </div>
    </div><!-- card -->
  <%= link_to "Next Section", @section.next  %>
  <%= link_to "Previous Section", @section.previous %>
  </div><!-- col-sm-3 -->
  <%= @section.description%>
<ul>
<li>Example1</li>
<li>Example2</li>
<li>Example3</li>
</ul>
    </div>
      <img src="/.../no_image_attached.jpg" alt="Section Image Here" width="200"
         height="180">
    </div>
  <div>
  <%= link_to "Exit Learning", programs_path %>
  </div>
</div>

